html{
    font-family: Petrona, serif;
    scroll-behavior: smooth;
    
}

body{
    background-color: #172641;
    color: #CCD7D5;
    margin: 0;
    font-size: 1.3vw;
}

.grid{
    display: grid;
    grid-template-columns: ;
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 2em;
}
   .titulo{
    font-size: 20px;
    grid-row: 1/4 ;
   } 
.botoes{
    position: relative;
    top: 500px;
  right: 200px;
    color: #CCD7D5;
    font-size: 10px;
    grid-row: 2/6 ;  
}
