html{
    font-family: Petrona, serif;
}

body{
    background-color: #172641;
    color: #CCD7D5;
    margin: 0;
}

.stuff{
    margin: 30px;
    text-align: center;
}

input{
    appearance: none;
    font-family: inherit;
    color: #172641;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #CCD7D5;
}