:root{
    --beige: #b3a393;
    --branco: #CCD7D5;
    --fundo: #172641;
}

html{
    font-family: Petrona, serif;
    scroll-behavior: smooth;
    
}

body{
    background-color: var(--fundo);
    color: var(--branco);
    margin: 0;
    background-image: url(img/bgAsset.png);
}


.mainHeader a{
    font-weight: 600;
    color: var(--fundo);
}

.mainHeader{
display: grid;
grid-template-columns: repeat(4, 1fr);
background-color: var(--branco);
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    grid-column: 1/4;
}

ul li{

    display: inline;
    line-height: 2em;
    text-align: center;
    padding: 15px;
    transition: 1s ease;
}

ul li:hover{
    background-color: var(--fundo);
}

ul li:hover a{
    color: var(--branco);
}


#liOne a{
    text-transform: uppercase;
}



.grid{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(25, 30px);
}

.grid2{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(30, 30px);
}

   .titulo{
    display: inline-block;
    font-size: 2.5em;
    grid-column: 2/3;
    grid-row: 3/4 ;
    text-align: center;
    margin: 0;
   } 

   .divider{
    display: inline-block;
    width: 100%;
    background-color: var(--branco);
    height: 1px;
    grid-column: 2/3;
    grid-row: 6/7;
   }

.aboutus{
    text-align: left;
    margin: 10px;
    font-size: 15px;
    grid-column: 2/3;
    grid-row: 3/6 ; 
}

 .shop{
text-align: center;
    font-size: 15px;
    grid-column: 2/3;
    grid-row: 2/9 ; 
} 
#shp{
    text-align: center;
    font-size: 30px;
    grid-column: 2/3;
    grid-row: 5/6;
}
#the{
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#buy{
    text-decoration: none;
    color: var(--fundo);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 40px 10px 40px;
    background-color: var(--branco);
    border-radius: 5px;
}

.tit{
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 2/5; 
}
.ti{
    font-size: 20px;
    grid-column: 2/3;
    grid-row: 5/6;
}

#tu{
    grid-column: 2/3;
    grid-row: 6/11;
    font-size: 40px;
}

.form_tickets{
    grid-row: 6/11;

}

.ch{
    font-size: 20px;
}

#form_b{
    grid-column: 1/4;
    grid-row: 20/21;  
}

.buy-tickets{
    line-height: 1.5em;
    display: inline-block;
    position: relative;
    width: 50%;
    grid-column: 1/4;
    grid-row: 10/11; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

}

legend{
    font-size: 1.5em;
}
label{
    display: inline-block;
    width: 100%;
    padding: 7px;
}

#text{
    font-size: 15px;
    grid-column: 2/3;
    grid-row-start: 15;  
}
.titleGame{
    grid-column: 2/3;
    grid-row: 4/6;   
}
.logo{
    font-size: 30px;
    grid-column: 2/3;
    grid-row: 2/5;  
}
#on{
    font-size: 25px;
}
#h3{
    font-size: 20px;
}

.space{
    height: 150vh;
}

#adj{
    display: inline;
    grid-column: 2/3;
    grid-row: 8/12;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"]{
    appearance: none;
    background-color: var(--fundo);
    border: 1px solid var(--branco);
    border-radius: 3px;
    font-family: inherit;
    padding: 3px 3px 3px 6px;
    margin: 3px;
    color: var(--branco);
}

.tutulo > h1{
    text-align: center;
}


.myvideo{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 9/12;
}
video{
    display: inline-block;
    width: 100%;
    object-fit: contain;
}

#abt{
    line-height: 1.5em;
}


@media screen and (max-width: 760px) {

    .divider{
        grid-row: 7/8;
    }
    
}
